<%- include('template/head.ejs', {titleWeb:'Page home'}) %>

    <div class="container">

        <h1>CRUD with MongoDB</h1>

        <!-- <div class="d-grid gap-2 mt-4 mb-4"> -->
            <a href="/pets/create" class="btn btn-success mt-4 mb-4" style="--bs-btn-padding-x: 2rem">
                create new Pet
            </a>
        <!-- </div> -->

        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col" style="width: 10%; text-align: center;">#</th>
                    <th scope="col" style="width: 25%; text-align: center;">Name</th>
                    <th scope="col" style="width: 50%; text-align: center;">Description</th>
                    <th scope="col" style="width: 15%; text-align: center;">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayPets.length> 0 ) { %> 
                    <% arrayPets.map((pet,index)=> { %>
                        <tr style="text-align: center;">
                            <th scope="row"><%= index + 1%></th>
                            <td><%= pet.name %></td>
                            <td style="text-align:justify ;"><%= pet.description %></td>
                            <td>
                                <a href="/pets/<%= pet.id %>" class="btn btn-info">Detail</a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

    <%- include('template/footer.ejs') %>